#test classes #

/src/main/scala/com/lineage/test.scala

**/target/
/target/
*/target/*
**/bin/
/bin/
*/bin/*
**bin/com/lineage
/bin/com/lineage/
*/bin/com/lineage/*
.classpath
.project
.settings

# Package Files #
*.jar
*.war
*.ear

*.iml
*.idea
